/* reset default padding/margin*/
* {
	padding: 0px;
	margin: 0px;
}

/*
================================================================================

                Start of Loading Screen Stuff

=================================================================================
*/

#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	background-color: whitesmoke;
	z-index: 9001;
	display: grid;
	place-content: center;
}
.loader {
	width: max(50px, 20vw);
}

/*
================================================================================

                End of loading Screen stuff

=================================================================================
*/

/*
================================================================================

                Start of Menu

=================================================================================
*/

/*
================================================================================

                End of Menu

=================================================================================
*/
